# various python files
__pycache__/
*.py[cod]
*$py.class

dist/
build/
coverage.xml
htmlcov
*.egg-info/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.cache
.coverage

# terraform
.terraform
terraform.tfstate*
plan.out

# airflow logs
logs

# config files
src/orchestration/dags/config/pis.yaml
src/orchestration/dags/config/pts.yaml
src/orchestration/dags/config/etl.conf
