# various python files
__pycache__/
*.py[cod]
*$py.class

dist/
build/
coverage.xml
htmlcov
*.egg-info/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.cache
.coverage

# terraform
.terraform
terraform.tfstate*
plan.out

# airflow logs
logs
